# region custom ------------------------------------------------------------------------
# hidden/private directories
__*/
.*/
!/**/.idea/
!/**/.vscode/

# local files
*.local.*
# tensorboard
*events.out.tfevents*
# temporary files
tmp*.py
# logfiles
*.log
# zip files
*.zip
# pickle files
*.pk
*.pickle
# pytorch files
*.pt
*.torch
*.pt.trace.json

# libtorch
**/libtorch/
**/build/

# documentation
docs/**/apidoc/
docs/**/autoapi/

# testing
**/tests/**/reports/
# endregion custom ---------------------------------------------------------------------
