# region custom ------------------------------------------------------------------------
# hidden/private directories
_*/
.*/
.*.log
# exceptions
!/**/.idea/
!/**/.vscode/
!docs/_static/
!docs/_templates/

tmp*.py
# zip files
*.zip
# pickle files
*.pk
*.pickle
# pytorch files
*.pt
*.torch
*.pt.trace.json
# tensorboard files
*events.out.tfevents*

.coverage
.codex

# libtorch
**/libtorch/
**/build/
# documentation
**/apidoc/
**/autoapi/
**/tests/**/reports/

# Project related Files
dev/**/*.parquet
dev/**/*.pdf
dev/**/*.png
experiments/**/*.parquet
experiments/**/*.pdf
experiments/**/*.png
# endregion custom ---------------------------------------------------------------------
